In [494]:
import mysql.connector
import numpy as np
import random
import pandas as pd
import time

Czas pracy warsztatu: 01.05.22 - teraz

**TABELA pracownicy**

In [495]:
#losowanie imion i nazwisk męskich
dane = pd.read_csv('imiona_meskie.csv')
imiona_m = dane["IMIĘ_PIERWSZE"]
imiona_m_liczba = dane["LICZBA_WYSTĄPIEŃ"]
liczba_suma = sum(imiona_m_liczba)
imiona_m_prawdo = [i/liczba_suma for i in imiona_m_liczba]

n_m = 8
wybrane_imiona_m = np.random.choice(imiona_m, size = n_m, p = imiona_m_prawdo)
print(wybrane_imiona_m)


dane = pd.read_csv('nazwiska_meskie.csv')
nazwiska_m = dane["Nawisko aktualne"]
nazwiska_m_liczba = dane["Liczba"]
liczba_suma = sum(nazwiska_m_liczba)
nazwiska_m_prawdo = [i/liczba_suma for i in nazwiska_m_liczba]

wybrane_nazwiska_m = np.random.choice(nazwiska_m, size = n_m, p = nazwiska_m_prawdo)
print(wybrane_nazwiska_m)

['ARKADIUSZ' 'STANISŁAW' 'SEBASTIAN' 'ADAM' 'TOMASZ' 'MAREK' 'KAROL'
 'JÓZEF']
['GROMALA' 'TROJANOWSKI' 'ZBIEĆ' 'LEŚNIAK' 'GODLEWSKI' 'ŁAKATOSZ' 'BOGIEL'
 'JOP']

In [496]:
#losowanie imion i nazwisk żeńskich
dane = pd.read_csv('imiona_zenskie.csv')
imiona_z = dane["IMIĘ_PIERWSZE"]
imiona_z_liczba = dane["LICZBA_WYSTĄPIEŃ"]
liczba_suma = sum(imiona_z_liczba)
imiona_z_prawdo = [i/liczba_suma for i in imiona_z_liczba]

n_z = 2
wybrane_imiona_z = np.random.choice(imiona_z, size = n_z, p = imiona_z_prawdo)
print(wybrane_imiona_z)


dane = pd.read_csv('nazwiska_zenskie.csv')
nazwiska_z = dane["Nawisko aktualne"]
nazwiska_z_liczba = dane["Liczba"]
liczba_suma = sum(nazwiska_z_liczba)
nazwiska_z_prawdo = [i/liczba_suma for i in nazwiska_z_liczba]

wybrane_nazwiska_z = np.random.choice(nazwiska_z, size = n_z, p = nazwiska_z_prawdo)
print(wybrane_nazwiska_z)

['MELANIA' 'HALINA']
['JEZIERSKA' 'SZCZESIAK']

In [497]:
#połączenie list z imionami/nazwiskami damskimi i męskimi oraz przemieszanie ich (parami)

imiona = list(wybrane_imiona_m) + list(wybrane_imiona_z)
nazwiska = list(wybrane_nazwiska_m) + list(wybrane_nazwiska_z)
im_nazw = list(zip(imiona, nazwiska))
random.shuffle(im_nazw)

imiona[:], nazwiska[:] = zip(*im_nazw)
print(imiona)
print(nazwiska)

['SEBASTIAN', 'ARKADIUSZ', 'KAROL', 'STANISŁAW', 'JÓZEF', 'MAREK', 'TOMASZ', 'ADAM', 'MELANIA', 'HALINA']
['ZBIEĆ', 'GROMALA', 'BOGIEL', 'TROJANOWSKI', 'JOP', 'ŁAKATOSZ', 'GODLEWSKI', 'LEŚNIAK', 'JEZIERSKA', 'SZCZESIAK']

In [498]:
#id_stanowiska (na początku kierownik i mechanik)
id_stanowiska = [1,3,5,3,6,3,3,4,2,6]

In [499]:
#funkcja na potrzebę funkcji random_date (proporcja)
#https://stackoverflow.com/questions/553303/generate-a-random-date-between-two-other-dates
def str_time_prop(start, end, time_format, prop):          
    stime = time.mktime(time.strptime(start, time_format))
    etime = time.mktime(time.strptime(end, time_format))
    ptime = stime + prop * (etime - stime)
    return time.strftime(time_format, time.localtime(ptime))

#losowa data między dwoma podanymi datami
def random_date(start, end, prop):
    return str_time_prop(start, end, '%Y-%m-%d', prop)

data_zatrudnienia = ["2022-05-01", "2022-05-01"] #2 pracowników pracuje od początku firmy
for i in range(8):
    data_zatrudnienia.append(random_date("2022-05-01", "2024-02-01", random.random()))

data_zatrudnienia = sorted(data_zatrudnienia)
print(data_zatrudnienia)

data_zwolnienia = 10*["2030-01-01"]  #tutaj jakby wszyscy pracowali do dzisiaj
for i in range(3):        
    r = random.randint(2,9)          #dwaj pierwsi pracownicy na pewno ciągle pracują 
                                     #(żeby zawsze był ten sam kierownik i choć jeden mechanik)
    while data_zwolnienia[r] != "2030-01-01":
        r = random.randint(2,9)
    data_zwolnienia[r] = random_date(data_zatrudnienia[r], "2024-03-01", random.random())
    
print(data_zwolnienia)

['2022-05-01', '2022-05-01', '2022-06-01', '2022-11-03', '2023-02-18', '2023-05-14', '2023-08-26', '2023-10-23', '2023-12-02', '2023-12-20']
['2030-01-01', '2030-01-01', '2023-05-20', '2030-01-01', '2023-07-12', '2030-01-01', '2030-01-01', '2030-01-01', '2023-12-13', '2030-01-01']

In [500]:
#numery telefonów
telefony = []
for i in range(10):
    telefony.append(random.randint(100000000,999999999))

print(telefony)

[875192748, 982207050, 627446170, 205371805, 350294809, 303951246, 666468488, 197400907, 259608616, 481597703]

In [501]:
#email

def generate_email(first_name, last_name):
    email_end = "@odpicujmibryke.pl"

    if " " in first_name:
        first_name = first_name.split(" ")[0]

    email = (first_name[0: random.randint(2, len(first_name) - 1)] +
             random.choices(['', '.', '-'], weights=[0.7, 0.2, 0.1])[0] +
             last_name[0: random.randint(2, len(last_name) - 1)])
    
    email = email.lower()
    
    email += str(random.choices(['', str(random.randint(0, 100))], weights=[0.4, 0.6])[0])
    email += email_end
    
    return email

emaile = []
for i in range(10):
    emaile.append(generate_email(imiona[i], nazwiska[i]))

print(emaile)

['sebastzb41@odpicujmibryke.pl', 'arkadi.gr@odpicujmibryke.pl', 'ka-bogi78@odpicujmibryke.pl', 'sta.trojan@odpicujmibryke.pl', 'józejo@odpicujmibryke.pl', 'ma.ła14@odpicujmibryke.pl', 'tomas.godlewsk5@odpicujmibryke.pl', 'adaleś@odpicujmibryke.pl', 'melanijez@odpicujmibryke.pl', 'haszcze@odpicujmibryke.pl']

**TABELA Stanowisko**

Stanowiska pracownicze

Na stałe w firmie: 1 kierownik i inni (w tym na pewno 1 mechanik).

Poza tym 3 osoby zwolnione na przestrzeni istnienia firmy.

In [502]:

#jakie stanowisko wariacie
stanowiska = ["kierownik", "elektronik", "mechanik", "diagnostyk", "lakiernik", "blacharz"]
wyplata = [8500, 6000, 5900, 5500, 5400, 4900]

**ŁĄCZENIE Z SQL**

In [503]:
con = mysql.connector.connect(
    host = "giniewicz.it",
    user = "team11",
    password = "te@m24ii",
    database = "team11"
)

if(con):
    print("Połączenie udane")
else:
    print("Połączenie nieudane")

mycursor = con.cursor()

Połączenie udane

Tabela stanowisko

In [504]:
#Usuwanie tabeli "stanowisko", jeśli już istnieje
mycursor.execute("DROP TABLE IF EXISTS stanowisko")

#Tworzenie pustej tabeli
sql ='''CREATE TABLE stanowisko(
   id_stanowiska INT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
   opis VARCHAR(40) NOT NULL,
   wypłata INT UNSIGNED
);'''
mycursor.execute(sql)

In [505]:
for i in range(6):   
    # Przygotownie do wstawienia danych
   insert = (
      "INSERT INTO stanowisko(opis, wypłata)"
      "VALUES (%s, %s)"
   )
   data = (stanowiska[i], wyplata[i])

   try:
      # Wstawienie wiersza
      mycursor.execute(insert, data)
   
      # Zatwierdzenie zmian
      con.commit()

   except:
      # Cofnięcie w razie błędu
      con.rollback()

Tabela pracownicy

In [506]:
mycursor.execute("DROP TABLE IF EXISTS pracownicy")

sql ='''CREATE TABLE pracownicy(
   id_pracownika INT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
   imię VARCHAR(40) NOT NULL,
   nazwisko VARCHAR(40) NOT NULL,
   id_stanowiska INT UNSIGNED,
   data_zatrudnienia TIMESTAMP,
   data_zwolnienia TIMESTAMP,
   numer_telefonu INT UNSIGNED,
   email VARCHAR(40) NOT NULL
);'''
mycursor.execute(sql)

In [507]:
for i in range(10):   
   insert = (
      "INSERT INTO pracownicy(imię, nazwisko, id_stanowiska, data_zatrudnienia, data_zwolnienia, numer_telefonu, email)"
      "VALUES (%s, %s, %s, %s, %s, %s, %s)"
   )
   data = (imiona[i], nazwiska[i], id_stanowiska[i], data_zatrudnienia[i], data_zwolnienia[i], telefony[i], emaile[i])

   try:
      mycursor.execute(insert, data)
   
      con.commit()

   except:
      con.rollback()

In [508]:
con.close()