In [77]:
import mysql.connector
import numpy as np
import pandas as pd

Czas pracy warsztatu: 01.05.22 - teraz

In [78]:
#losowanie imion i nazwisk męskich
dane = pd.read_csv('imiona_meskie.csv')
imiona_m = dane["IMIĘ_PIERWSZE"]
imiona_m_liczba = dane["LICZBA_WYSTĄPIEŃ"]
liczba_suma = sum(imiona_m_liczba)
imiona_m_prawdo = [i/liczba_suma for i in imiona_m_liczba]

n_m = 8
wybrane_imiona_m = np.random.choice(imiona_m, size = n_m, p = imiona_m_prawdo)
print(wybrane_imiona_m)


dane = pd.read_csv('nazwiska_meskie.csv')
nazwiska_m = dane["Nawisko aktualne"]
nazwiska_m_liczba = dane["Liczba"]
liczba_suma = sum(nazwiska_m_liczba)
nazwiska_m_prawdo = [i/liczba_suma for i in nazwiska_m_liczba]

wybrane_nazwiska_m = np.random.choice(nazwiska_m, size = n_m, p = nazwiska_m_prawdo)
print(wybrane_nazwiska_m)

['HENRYK' 'VADYM' 'BOHDAN' 'PAWEŁ' 'LEOPOLD' 'STANISŁAW' 'PRZEMYSŁAW'
 'NIKODEM']
['BORTNOWSKI' 'PRUSKI' 'ŁAPAJCZYK' 'KICK' 'BIEGUN' 'HORITKO' 'JUCEWICZ'
 'GZULA']

In [79]:
#losowanie imion i nazwisk żeńskich
dane = pd.read_csv('imiona_zenskie.csv')
imiona_z = dane["IMIĘ_PIERWSZE"]
imiona_z_liczba = dane["LICZBA_WYSTĄPIEŃ"]
liczba_suma = sum(imiona_z_liczba)
imiona_z_prawdo = [i/liczba_suma for i in imiona_z_liczba]

n_z = 2
wybrane_imiona_z = np.random.choice(imiona_z, size = n_z, p = imiona_z_prawdo)
print(wybrane_imiona_z)


dane = pd.read_csv('nazwiska_zenskie.csv')
nazwiska_z = dane["Nawisko aktualne"]
nazwiska_z_liczba = dane["Liczba"]
liczba_suma = sum(nazwiska_z_liczba)
nazwiska_z_prawdo = [i/liczba_suma for i in nazwiska_z_liczba]

wybrane_nazwiska_z = np.random.choice(nazwiska_z, size = n_z, p = nazwiska_z_prawdo)
print(wybrane_nazwiska_z)

['NATALIA' 'ANNA']
['HRABOVA' 'LACH']

Stanowiska pracownicze

Na stałe w firmie: 1 kierownik, 2 mechaników, 1 diagnostyk, 1 elektronik, 1 blacharz, 1 lakiernik.

Poza tym 3 osoby zwolnione na przestrzeni istnienia firmy.

In [80]:
#jakie stanowisko wariacie
stanowiska = ["kierownik", "elektronik", "mechanik", "diagnostyk", "lakiernik", "blacharz"]
wyplata = [8500, 6000, 5900, 5500, 5400, 4900]

In [81]:
con = mysql.connector.connect(
    host = "giniewicz.it",
    user = "team11",
    password = "te@m24ii",
    database = "team11"
)

if(con):
    print("Połączenie udane")
else:
    print("Połączenie nieudane")

mycursor = con.cursor()

Połączenie udane

In [82]:
#Usuwanie tabeli "stanowisko", jeśli już istnieje
mycursor.execute("DROP TABLE IF EXISTS stanowisko")

#Tworzenie pustej tabeli
sql ='''CREATE TABLE stanowisko(
   id_stanowiska INT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
   opis VARCHAR(40) NOT NULL,
   wypłata INT UNSIGNED
);'''
mycursor.execute(sql)

In [83]:
for i in range(6):   
    # Przygotownie do wstawienia danych
   insert = (
      "INSERT INTO stanowisko(opis, wypłata)"
      "VALUES (%s, %s)"
   )
   data = (stanowiska[i], wyplata[i])

   try:
      # Wstawienie wiersza
      mycursor.execute(insert, data)
   
      # Zatwierdzenie zmian
      con.commit()

   except:
      # Cofnięcie w razie błędu
      con.rollback()

In [84]:
con.close()